button:focus {outline:0;} /*tar bort den blåa outlinen 
						som kommer när man har klickat*/

.air {
	background-image: url("luft.png");
  /*background-size:cover;*/
	background-color: #fffde0;
	background-size:  540px 960px;
}

.luftknapp{
	height: 100px;
    width: 100px;
    background-color: solid black;

    font-family: Moon;
    font-size:50px;
    color: #575656; /*font-color*/

    border: 2px solid #575656;
    border-radius: 50%;
    transition: width 0.5s;
}

.luftknapp:active{
	background-color: #f46a46;
  width: 25px;
}