body {
	/*background-color: #fffde0;*/
	height:100vw;
	width: 100vw;
}

.wrapper {
	/*Halverad storlek, ändra senare*/
	height:200vw;
	width: 100vw;
	background-color: #fffde0;
	font-family: Moon;
	background-image: url("bakgrund_gryning.png");
	background-size: cover;
}

@font-face {
  font-family: Moon;
  src: url(Moon2.0-Bold.otf); /* IE9 Compat Modes */
  font-weight: 1000;
}

#header {
	width: 100vw;
	height: 20vw;
}

#donald {
	height: 20vw;
	float: left;
	margin-left: 7vw;
	margin-top: 3vw;
}

#abort {
	width: 50px;
	height: 50px;
	float: left;
	margin-left:10px;
	background-color:#575656;
	margin-top: 10px;
	position: fixed;
	
	border: none;
	border-radius: 10px;

	font-family: Moon;
	font-size: 10px;
	color: white;
}

#arrowLeft { 
	border-top: 2vw solid transparent;
	border-bottom: 3vw solid transparent; 
	border-right:5vw solid #159ab2; 
	float: left;
	margin-top: 7vw;
}

#bubble {
	background-color: #159ab2;
	float:left;
	border-radius: 3vw;;
	padding-right: 6vw;
	padding-left: 6vw;
	margin-top: 3vw;
}

/*välkomstexten, bubblan ändrar storlek enligt hur stor fonten är*/
#welcome {
	color:white;
	opacity: 0.7;
	font-size: 7vw;
	text-align: center;
}
/*SJUKT OKLAR TEXT. GÖR INGET VID ÄNDRING*/
.text {
	font-family: Moon;
}

/*Div som innehåller alla knappar*/
#knappar {
	margin-top: 4vw;
	margin-right: 2vw;
	margin-left: 7vw;
	margin-right: 7vw;
	width: 95vw;
	height: 100vw;
	/*background-color: #159ab2;*/
}

/*Class för de 4 knapparna*/
.ruta {
	border-radius: 3vw;
	height: 40vw;
	width: 40vw;
	text-align: center;
	font-size: 23vw;
	color:white;
	opacity: 0.85;
	margin-top: 5vw;
	border-color: white; 
	border-width: 1vw;
}

#plus {
	float: left;
	/*margin-left: 30px;
	margin-top: 30px;*/
	background-image: url("eld-1.png");
	background-size:cover;
}

#minus {
	float: right;
	margin-right: 10vw;
	/*margin-top: 30px;*/
	background-image: url("Hav-1.png");
	background-size:cover;
}

#mult {
	float: left;
	/*margin-left: 30px;
	margin-top: 30px;*/
	background-image: url("skog-1.png");
	background-size:cover;
}

#division {
	float: right;
	margin-right: 10vw;
	/*margin-top: 30px;*/
	background-image: url("luft-1.png");
	background-size:cover;
}

#donald {
	background-position: 1vw 1vw;
	background-image: url('duckeliduck.png');
	background-size: 15vw;
	height: 20vw;
	width: 20vw;
	float: left;
	margin-left: 4vw;
	margin-top: 5vw;
	background-repeat: no-repeat;
}


