

button:focus {outline:0;} 
/*tar bort den blåa outlinen 
som kommer när man har klickat*/

.fire {
	background-image: url("eld.png");
	/*background-color: #fffde0;*/
	background-size:  540px 960px;
/*	height:960px;
	width: 540px;*/
}
.eldknapp{
	height: 100px;
    width: 100px;
    background-color: #ff8d6d; /*Knappfärg*/

    font-family: Moon;
    font-size:50px;
    color: #575656; /*font-color*/

    border: 2px solid #575656;
    border-radius: 50%;
    transition: width 0.5s;
}

.eldknapp:active{
	background-color: #f46a46;
  width: 25px;
}