/* POP UP*/
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
  position: fixed;
  width: 35vw;
  height: 20vw;
  margin: auto;
  margin-top: 50vw;
  margin-left: 30vw;
  background: white;
  text-align: center;
  font-size: 2vw;
  /*fire*/
  background-color: #96B275;
  font-family: Moon;
  border: 1vw solid #575656;
  border-radius: 3vw;
  padding-bottom: 3vw;
  padding-right: 2vw;
  padding-left: 2vw;
}

#next {
  background-color:#FBE9C6;
  font-family: Moon;
  width: 10vw;
  height: 5vw;
  font-size: 3vw;
  margin-right: 0.1vw;
  border: none;
  border-radius: 2vw;
  padding-bottom: 3vw;
}

#duck {
  background-position: 1vw 1vw;
  background-image: url('duckeliduck.png');
  background-size: 19vw;
  height: 25vw;
  width: 25vw;
  float: left;
  margin-top: 2vw;
  background-repeat: no-repeat;
  padding-top: 3vw;

}