/* POP UP*/
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
  position: fixed;
  width: 44vw;
  height: 30vw;
  margin: auto;
  margin-top: 18vw;
  margin-left: 25.5vw;
  background: white;
  text-align: center;
  font-size: 3vw;
  /*fire*/

  font-family: Moon;
  border: 1vw solid #575656;
  border-radius: 3vw;
  padding-bottom: 3vw;
  padding-right: 2vw;
  padding-left: 2vw;
}
.right {
    background-color: #96B275;
}
.wrong {
  background-color: #c05e5b;
}
.result {
  background-color: #fad17f;
}

#next {
  background-color:#FBE9C6;
  font-family: Moon;
  width: 18vw;
  height: 8vw;
  font-size: 5vw;
  margin-right: 0.1vw;
  border: none;
  border-radius: 2vw;
  padding-bottom: 3vw;
}

#duck {
  background-position: 1vw 1vw;
  background-image: url('duckeliduck.png');
  background-size: 24vw;
  height: 30vw;
  width: 30vw;
  float: left;
  margin-top: 3vw;
  background-repeat: no-repeat;
  padding-top: 3vw;

}