
/*Om klick*/


/*Tom div för att flytta knapp*/
.empty {
    height: 20px;
  	width: 20px;
  	border-radius: 50%;
  	font-size: 3px;
  	opacity: 0;
}
/*Tom div(/2) för att flytta knapp*/
.empty_half {
    height: 10px;
  	width: 10px;
  	border-radius: 50%;
  	font-size: 3px;
  	opacity: 0;
}
/*Övre rad med div:ar*/
.flex-container {
  display: flex;
  justify-content: center;
}
/*Mellan-rad med div:ar*/
.flex-container2 {
  display: flex;
  justify-content: flex-end;

}
/*Nedre rad med div:ar, sätt inte margin bottom på den här då storleken på bakgrunden ändras isf*/
.flex-container3 {
  display: flex;
  justify-content: flex-start;
}