
 #knappContainer{

 }


/*Tom div för att flytta knapp*/
.empty {
    height: 3vw;
  	width: 6vw;
  	border-radius: 50%;
}
/*Tom div för att flytta knapp halvt steg*/
.empty_half {
    height: 2vw;
  	width: 6vw;
  	border-radius: 50%;
}
/*Övre rad med div:ar*/
.flex-container {
  display: flex;
  justify-content: center;
}
/*Mellan-rad med div:ar*/
.flex-container2 {
  display: flex;
  justify-content: flex-end;

}
/*Nedre rad med div:ar, sätt inte margin bottom på den här då storleken på bakgrunden ändras isf*/
.flex-container3 {
  display: flex;
  justify-content: flex-start;
}

/******************************************
LOKALA CSS:ER FÖR OLIKA BANOR
******************************************/
button:focus {outline:0;} 

/********* Fire realm CSS *********/

.fire {
  background-image: url("eld-1.png");
  height: 180vw;
  margin-top: 0vw;
  background-size: cover;
  background-repeat: no-repeat;
}

.eldknapp{
  background: transparent;
  background-image: url("EldknappV1-01.png"); 
  background-size: 30vw 25vw;
  background-position: center;
  display: inline-block;
  border: none;
  width: 30vw;
  height: 25vw;
  border-radius: 3vw;
  font-family: Moon;
  font-size:10vw;
  color: #4f4b4d; /*font-color*/
  padding-top: 11vw;
}

.eldknapp:active {
  opacity: 0.8;
}

/********* Water realm CSS *********/
.water {
  background-image: url("Hav-1.png");
  height: 180vw;
  margin-top: 0vw;
  background-size: cover;
  background-repeat: no-repeat;
}
.vattenknapp{
  background: transparent;
  background-image: url("havlevel.png"); 
  background-size: 24vw 22vw;
  background-position: center;
  display: inline-block;
  border: none;
  width: 24vw;
  border-radius: 3vw;
  height: 22vw;
  font-family: Moon;
  font-size:10vw;
  color: #4f4b4d; /*font-color*/
  margin-top: 10vw;
  
}

.vattenknapp:active {
  opacity: 0.8;
}

/********* Forest realm CSS *********/
.forest {
  background-image: url("skog-1.png");
  height: 180vw;
  margin-top: 0vw;
  background-size: cover;
  background-repeat: no-repeat;

}

.skogsknapp{
  background: transparent;
  background-image: url("skogknappV1-01.png"); 
  background-size: 22vw 27vw;
  background-position: center;
  display: inline-block;
  border: none;
  width: 22vw;
  border-radius: 3vw;
  height: 27vw;
  font-family: Moon;
  font-size: 10vw;
  color: #4f4b4d; /*font-color*/
}

.skogsknapp:active {
  opacity: 0.8;
}

/********* Sky realm CSS *********/
.air {
  background-image: url("luft-1.png");
  height: 180vw;
  margin-top: 0vw;
  background-size: cover;
  background-repeat: no-repeat;
}

.luftknapp{
  background: transparent;
  background-image: url("luftknappV1-01.png"); 
  background-size: 22vw 26vw;
  background-position: center;
  display: inline-block;
  border: none;
  width: 22vw;
  border-radius: 3vw;
  height: 26vw;
  font-family: Moon;
  font-size:10vw;
  color: #4f4b4d; /*font-color*/
  padding-bottom: 6vw;
}

.luftknapp:active {
  opacity: 0.8;
}

/* CSS FÖR VARDERA BOLL 1-5 */
#ett {
  margin-top: 6vw;
  margin-left: 20vw;
}

#tva {
  margin-right: 2vw;
}

#tre {
  margin-right: 15vw;
  margin-top: 7vw;
}

#fyra {
  margin-left: 7vw;
}

#fem {
  margin-left: 20vw;
  margin-top: 7vw;
}