/*FLYTTA BAKGRUNDSBILDEN FRÅN BODY TILL EN NY CLASS SOM HAR MÅTTEN H: 960PX W: 540PX*/
body {
	/*background-image: url("eld.png");*/
	/*background-size:cover;*/ /*DET VAR DENNA JÄVEL SOM SABBADE!!*/
	 /*height och width gör inte ett skit atm*/
	 background-color: white;
}

/*Innehåller alla stora knappar på sidan (svar och alternativ)*/
#container {
	height: 960px;
	width: 540px;
}

#uppgift {
	background-color: #D2706C;
	border: 5px solid #575656;
	border-radius: 1px;
	font-family: Moon; 
	color:#575656;
	text-align : center;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 9px;
	width: 60px;
	height: 12px;
	margin: auto;
	margin-top: 5px;
}

.alternativ {
	background-color: #F8B479;
	width : 28px;
	height: 15px;
	margin-top: 2px;
	color:#575656;
	border: 0.5px solid #575656;
	text-align: center;
	border-radius: 1px;
	font-size: 7px;
	font-family: Moon;

}
#alt1{
	float: left;
	margin-left: 20px;
}
#alt2{
	float: right;
	margin-right: 20px;
}
#alt3{
	float: left;
	margin-left: 20px;
}
#alt4{
	float: right;
	margin-right: 20px;
}