body {
	background-image: url("skog.png");
	background-size:cover;

}
#bru {
	height: 90vw;
}

#uppgift {
	background-color: #104218;
	border: 0.5vw solid #575656;
	border-radius: 1vw;
	font-family: Moon; 
	color:#ffff;
	text-align : center;
	padding-top: 2vw;
	padding-bottom: 2vw;
	font-size: 9vw;
	width: 60vw;
	height: 12vw;
	margin: auto;
	margin-top: 5vw;
}

.alternativ {
	background-color: #76c060;
	width : 28vw;
	height: 15vw;
	margin-top: 2vw;
	color:#575656;
	border: 0.5vw solid #575656;
	text-align: center;
	border-radius: 1vw;
	font-size: 7vw;
	font-family: Moon;

}
#alt1{
	float: left;
	margin-left: 20vw;
}
#alt2{
	float: right;
	margin-right: 20vw;
}
#alt3{
	float: left;
	margin-left: 20vw;
}
#alt4{
	float: right;
	margin-right: 20vw;
}