/*FLYTTA BAKGRUNDSBILDEN FRÅN BODY TILL EN NY CLASS SOM HAR MÅTTEN H: 960PX W: 540PX*/
body {
	/*background-image: url("eld.png");*/
	/*background-size:cover;*/ /*DET VAR DENNA JÄVEL SOM SABBADE!!*/
	 /*height och width gör inte ett skit atm*/
	 
}

/*Innehåller alla stora knappar på sidan (svar och alternativ)*/


#container {
	height: 200vw;
	width: 100vw;
}

#bakgrundsbildFire{
	background-image: url("eld-1.png");
	height: 180vw;
	margin-top: 0vw;
  	background-size: cover;
  	background-repeat: no-repeat;
}

#bakgrundsbildWater{
	background-image: url("Hav-1.png");
  	height: 180vw;
	margin-top: 0vw;
  	background-size: cover;
  	background-repeat: no-repeat;
}
#bakgrundsbildForest{
	background-image: url("skog-1.png");
  	height: 180vw;
	margin-top: 0vw;
  	background-size: cover;
  	background-repeat: no-repeat;
}
#bakgrundsbildAir{
	background-image: url("luft-1.png");
  	height: 180vw;
	margin-top: 0vw;
  	background-size: cover;
  	background-repeat: no-repeat;
}
/**************************************
**ALLMÄN KOD FÖR UPPGIFTS-RUTORNA****
**************************************/
#uppgift {
	margin-top: 4vw;
	
}

/*
border-radius: 3vw;
	font-family: Moon; 
	color:#575656;
	text-align : center;
	padding-top: 1vw;
	padding-bottom: 1vw;
	font-size: 3vw;
	width: 30vw;
	height: 20vw;
	margin: auto;
*/
/**************************************
**LOKALA FÄRG/BAKGRUNDSINSTÄLLNINGAR***
**************************************/
#graphicsFireUpg{
	border-radius: 3vw;
	font-family: Moon; 
	text-align : center;
	padding-bottom: 5vw;
	font-size: 10vw;
	width: 70vw;
	height: 30vw;
	margin: auto;
	margin-bottom: 5vw;
	color:#575656;
	background-color: #D2706C;
	border: 1vw solid #575656;
	
}
#graphicsWaterUpg{
	border-radius: 3vw;
	font-family: Moon; 
	text-align : center;
	padding-bottom: 5vw;
	font-size: 10vw;
	width: 70vw;
	height: 30vw;
	margin: auto;
	margin-bottom: 5vw;
	background-color: #57a3c6;
	border: 1vw solid #575656;
	color:#575656;
}
#graphicsForestUpg{
	border-radius: 3vw;
	font-family: Moon; 
	text-align : center;
	padding-bottom: 5vw;
	font-size: 10vw;
	width: 70vw;
	height: 30vw;
	margin: auto;
	margin-bottom: 5vw;
	background-color: #379650;
	border: 1vw solid #575656;
	color:#575656;
}
#graphicsAirUpg{
	border-radius: 3vw;
	font-family: Moon; 
	text-align : center;
	padding-bottom: 5vw;
	font-size: 10vw;
	width: 70vw;
	height: 30vw;
	margin: auto;
	margin-bottom: 5vw;
	background-color: #f37d3f;
	border: 1vw solid #575656;
	color:#575656;
}

/**************************************
**ALLMÄN KOD FÖR ALTERNATIV-RUTORNA****
**************************************/
/*.alternativ {

	width : 200px;
	height: 100px;
	text-align: center;
	border-radius: 1px;
	font-size: 50px;
	font-family: Moon;
	margin-top: 50px;
}*/

/**************************************
**LOKALA FÄRG/BAKGRUNDSINSTÄLLNINGAR***
**************************************/

.graphicsFireAlt{
	background-color: #F8B479;
	color:#575656;
	border: 1vw solid #575656;
	width : 35vw;
	height: 25vw;
	text-align: center;
	border-radius: 3vw;
	font-size: 10vw;
	font-family: Moon;
	margin-top: 10vw;

}
.graphicsFireAlt:active {
 	background-color:#FBD079;
}
.graphicsWaterAlt{
	background-color: #9DCDCB;
	color:#575656;
	border: 1vw solid #575656;
	width : 35vw;
	height: 25vw;
	text-align: center;
	border-radius: 3vw;
	font-size: 10vw;
	font-family: Moon;
	margin-top: 10vw;
}

.graphicsWaterAlt:active {
  	background-color:#b1e0de;
}

.graphicsForestAlt{
	background-color: #76c060;
	color:#575656;
	border: 1vw solid #575656;

	width : 35vw;
	height: 25vw;
	text-align: center;
	border-radius: 3vw;
	font-size: 10vw;
	font-family: Moon;
	margin-top: 10vw;
}
.graphicsForestAlt:active {
  	background-color:#99d686;
}

.graphicsAirAlt{
	background-color: #fdc578;
	color:#575656;
	border: 1vw solid #575656;
	width : 35vw;
	height: 25vw;
	text-align: center;
	border-radius: 3vw;
	font-size: 10vw;
	font-family: Moon;
	margin-top: 10vw;
	padding-top: -2vw;
}

.graphicsAirAlt:active {
  	background-color:#FBE27A;
}

#alt1{
	float: left;
	margin-left: 10vw;
}
#alt2{
	float: right;
	margin-right: 10vw;
}
#alt3{
	float: left;
	margin-left: 10vw;
}
#alt4{
	float: right;
	margin-right: 10vw;
}